
@layer base {
  :root {
    --color-bg: #FEFBF2;
    --color-surface: #FFFFFF;
    --color-text: #1A1A1A;
    --color-border: #000000;
    --color-shadow: #000000;


    --accent-primary: #FFD1FF;  
    --accent-secondary: #AFFFBF;
    --accent-tertiary: #FFF4D1;
    --accent-quarter: #D1FFFF;
    --accent-danger: #FFD1D1; 
    --accent-mint: #AFFFBF;
  }

  .dark {
    --color-bg: #121212;
    --color-surface: #1E1E1E;
    --color-text: #F5F5F5;
    --color-border: rgba(255, 255, 255, 0.2);
    --color-shadow: rgba(255, 255, 255, 0.1);

    --accent-primary: #5A3D5A;
    --accent-secondary: #3D5A5A;
    --accent-tertiary: #5A543D;
    --accent-danger: #5A3D3D;
  }
}